.banner-image {
  background-image: url(../images/Josh-Kato-Good-Night-2021-Campout-20.jpg);
  height: 750px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo img {
  height: 40px;
}

.logo {
  background-color: #4b5320;
  width: 300px;
  height: 40px;
  position: absolute;
  margin-top: 150px;
}
