* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.join-text {
  margin-left: 15px;
  padding: 1px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 15px;
  color: black;
  margin-top: 7px;
}

.placeholder {
  visibility: hidden;
}

.story-title {
  color: white;
  display: inline-block;
  margin-top: 20%;
  font-family: "Fira Sans Condensed", sans-serif;
  letter-spacing: 15px;
}

.dispatch a {
  color: black;
  letter-spacing: 3px;
}

.article p {
  color: gray;
  letter-spacing: 1px;
}

.article h3 {
  color: black;
  letter-spacing: 1px;
}

.article {
  width: 150px;
  text-align: left;
  font-size: 11.5px;
}

.dispatch-title {
  padding-top: 20px;
}

.bikead {
  font-family: "EB Garamond", serif;
  font-size: 11px;
  padding-top: 40px;
  color: #a73a3d;
}

.adtext {
  font-family: "Fira Sans Condensed", sans-serif;
  text-align: center;
  width: 700px;
  margin: 3em auto;
  line-height: 30px;
  color: black;
  letter-spacing: 0.2px;
}

.adtext a {
  color: black;
  text-decoration: underline;
  text-decoration-color: gray;
}

.adtext a:hover {
  text-decoration-color: black;
}

.explore {
  color: black;
  font-size: 10px;
  font-family: "Fira Sans Condensed", sans-serif;
  margin-top: 3em;
}

.sponsors {
  color: gray;
  font-size: 14px;
  font-family: "Fira Sans Condensed", sans-serif;
  margin-top: 3em;
}
